{% extends 'main/layout.html' %}


{% block title %}Долгосрочные цели{% endblock %}

{% block content %}
    <div class="features">
        <h1>Долгосрочные цели</h1>
        <a href="{% url 'goal_form' %}"><button class="btn btn-info"><i class="fa-solid fa-circle-plus"></i>Добавить цель</button></a>
        {% if goal_list %}
            {% for element in goal_list %}
            <div class="alert alert-warning">
                <h3>{{ element.goal_title }}</h3>
                <p>{{ element.goal_description }}</p>
                <a href="{% url 'goal-detail' element.id %}" class="btn btn-warning">Читать детальнее</a>
            </div>
            {% endfor %}
        {% else %}
            <p> На данный момент вы не добавили долгосрочные цели</p>
        {% endif %}
    </div>
{% endblock %}